.issueContainer {
    background-color: #f9f9f9;
    border-bottom: 2px solid #B4362C;
    padding: 20px;
    ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
         display: inline-flex;
        li {
            color: #B4362C;
            background-color: rgba($color: #d3d3d3, $alpha: 0.4);
            padding: 7px;
            border-radius: 5px;
        }
        margin-left: 40px;
    }
    .innerContainer {
        display: flex;
        align-items: center;
        border-bottom: 1px dotted #ddd;
    }
    .footer {
        display: flex;
        flex-direction: column;
        p {
            margin: 0;
            color: #aaa;
            small {
                margin-right: 10px;
            }
        }
    }
}