
.blogContentContainer {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
    p {
        line-height: 1.60;
        font-size: 20px;
        letter-spacing: .4px;
        color: #404040;
        font-weight: 200;
    }
}