header {
    .blogHeaderWrapper {
        display: flex;
        height: 80vh;
        background-position: 50% 50%;
        background-size: cover;
        justify-content: center;
        position: relative;
        z-index: 9;
        .blogMeta {
            align-self: flex-end;
            h1 {
                color: #fff;
                font-size: 32px;
            }
        }
    }
}