.footerContainer {
    
    background-size: cover;
    height: 300px;
    position: relative;
    background-position-y: 80% !important;
    background-repeat: repeat-x !important;
    img {
        &.deer {
            position: absolute;
            max-width: 100px;
            bottom: 20px;
            left: 20px;            
        }
        &.huFlag {
            position: absolute;
            right: 20px;
            bottom: 20px;
            max-width: 100px;
            transform: rotate(-22deg);
        }
    }
    .footerMenuContainer {
        position: absolute;
        bottom: 0;        
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        ul {
            list-style-type: none;
            display: inline-flex;
            li {
                margin: 0 20px;
                position: relative;
                &:last-of-type, &:first-of-type {
                    &:after {
                        content: unset;
                    }
                }
                
                &:after {
                    content: '';
                    border-right: 1px dashed #ababab;
                    opacity: .4;
                    display: block;
                    position: absolute;                    
                    top: 0;
                    height: 100%;
                    left: -20px;
                }
                a {
                    text-decoration: none;
                    color: #ababab;
                    font-size: 14px;
                }
            }
        }
    }
}
