@import './../mixins/hungarianColors';

.videoBackground {
    height: 100vh;
    @media screen and (max-width: $screen-sm-min - 1) {
        height: 80vh;
        background-image: url('~/finland.jpg');
        background-position: 50%;
    }
    video {
        width: 100%;
        @media screen and (max-width: $screen-sm-min - 1) {
            display: none;
        }
    }    
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: calc(100% - 5px);
        background: linear-gradient(0deg, transparent 9%, #000000 100%);
        opacity: .8;
        @media screen and (max-width: $screen-sm-min - 1) {
            background: linear-gradient(0deg, transparent 90%, #000000 100%);
        }
    }
}

.welcome {
    position: absolute;
    z-index: 99;
    top: 40%;
    left: 10%;
    @media screen and (max-width: $screen-sm-min - 1) {
        top: 20%;
        left: 10%;
    }

    h1, h2 {
        font-weight: bold;
        color: #fff;
        margin: 0;
        padding: 0;
    }
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 30px;
        position: relative;
        &:after {
            content: '';
            @include hungarianColors;
            bottom: -10px;
        }
    }
}