
.contentWrapper {
 display: flex;
 width: calc(100% - 200px);
 align-items: center;
 margin: 0 auto;
 position: relative;
 top: 80px;
}

.posts {
    display: flex;
    flex-direction: column;
    &:before {
        content: '';
    }
    .latestPostContainer {
        position: relative;
        flex: 2;
        padding: 10px 0;
        h1, p {
            color: #fff;
            margin: 0;
            padding: 0;        
        }
        p {
            font-size: 15px;
            &:after {
                //content: ' ...';
                font-size: 16px;
            }
            span {
                margin-left: 5px;
                color: #F7C580;
            }
        }
        a {
            text-decoration: none;
        }
        h1 {
            font-size: 1.4em;
        }        
        h1 {            
            &:hover {
                cursor: pointer;
                color: #F7C580;
                transition: all .4s ease;
            }
            p {
                position: absolute;
                left: -100px;
                font-size: 16px;
                font-weight: normal;
                top: 15px;
                &:after {
                    content: '';
                    border-left: 2px solid #fff;
                    position: absolute;
                    height: 100px;
                    top: 30px;
                    left: 25px;
                    opacity: .3;
                }
            }
        }
        .readMoreBtn {
            &:after {
                content: unset;
            }
            padding: 10px;
            border-radius: 50px;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}