@import './../mixins/dropShadow';

.nextEventsContainer {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        border-bottom: 2px solid #dedede;
        display: none;
    }
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    @media screen and (max-width: $screen-sm-min - 1) {
        flex-direction: column;
    }
    .nextEventContainer {
        &:last-of-type {
            &:after {
                content: unset;
            }
        }
        span {            
            &.eventDate {                
                position: absolute;
                top: -50px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                span {
                    padding: 4px;
                    color: #fff;
                    width: 100px;
                    background-color: #f0274e;
                    text-align: center;
                    border-radius: 5px;
                    font-size: 14px;
                    position: relative;
                    &:after {
                        content: '';
                        border-left: 2px solid #dedede;
                        position: absolute;
                        height: 60px;
                        bottom: -60px;
                        left: 50%;
                    }
                }
            }
        }
        position: relative;
        &:before {
            content: '';
            border-right: 2px solid #dedede;
            position: absolute;
            top: 0;
            height: 100px;
            left: 50%;
        }
        @media screen and (max-width: $screen-sm-min - 1) {
            &:after {
                content: '';
                border-right: 2px solid #dedede;
                position: absolute;
                bottom: 0;
                height: 100px;
                left: 50%;
            }
        }                
        .eventCard {
            min-width: 300px;
            border-radius: 10px;
            z-index: 9;
            @media screen and (max-width: $screen-sm-min - 1) {
                margin-bottom: 100px;
            }
            h1 {
                color: #fff;
                font-weight: 200;
                font-size: 22px;
                text-transform: uppercase;
                position: absolute;
                width: 100%;
                bottom: 0;
                margin: 10px 20px;
                padding: 0;                
            }
            height: 300px;
            margin: 40px 40px;
            background-size: cover;
            background-position: 50% 50%;
            position: relative;
            &:before {
                border-radius: 20px;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: .3;
                transition: all .4s ease;
            }
            &:hover {
                &:before {
                    cursor: pointer;
                    transition: all .4s ease;
                    opacity: 0;                
                }
            }
        }
    }
}