.selectedEvent {    
    .featuredImage {
        background-size: cover;
        height: 490px;
    }
    .eventContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #E64C66;
        padding: 0 20px;
        div {
            width: 50%;
            flex-basis: 50%;
            &:first-of-type {
                p {
                    font-size: 22px;
                    text-transform: uppercase;
                    text-align: left;
                    color: #fff;
                    span {
                        display: block;
                        color: #fff;
                    }
                }
            }
            &:last-of-type {
                p {
                    margin: 0;
                    color: #fff;
                    &:first-of-type {
                        text-transform: capitalize;
                        font-size: 24px;
                    }
                    &:last-of-type {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}