.shareContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    & + div {
        @media screen and (max-width: $screen-sm-min - 1) {
            margin: 0 20px;
        }
    }
    ul {
        margin: 20px 0;
        padding: 0;
        &:first-of-type {
            li {
                margin: 0 10px;
                display: flex;
                align-items: center;
                align-content: center;
                span {
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
        &:last-of-type {
            list-style-type: none;
            li {
                margin: 0 10px;
                display: inline-block;
                align-content: center;
            }
        }        
    }
}