.testimonialWrapper {
    width: 350px;
    height: 350px;
    padding: 30px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 160px;
    flex: 1;
    h1 {
        color: #fff;
        font-weight: bold;
        margin: 0;
        &:before, &:after {
            content: '';
        }
    }
    p {
        color: #fff;
    }    
}

.authorWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        &:first-of-type {
            flex: 2;
        }
    }
    p {
        color: #fff;
        margin: 0;
        padding: 0;
        &:first-of-type {
            &:after {
                content: '';
                width: 100%;
                display: block;
                border-bottom: 2px solid #fff;
                opacity: .3;
            }
        }
    }
}

.testimonialSlider {    
    button {
        bottom: 20px;
        top: unset;
        &:first-of-type {
            z-index: 9;
            left: unset;
            &:before {
                content: '';
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg%0Axmlns='http://www.w3.org/2000/svg'%0Awidth='75'%0Aheight='75'%0Aversion='1.1'%0A%3E%3Cg%3E%3Cpath%0Astyle='fill:%23ffffff;stroke:none'%0Ad='m 67,34.5 0,2 -67,0 0,2 67,0 0,2 8,-3 -8,-3 z'%0A/%3E%3C/g%3E%3C/svg%3E%0A");
                width: 100px;
                height: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                transform: rotate(180deg);
                background-position: 100% -40px;
                display: block;
            }
        }
        &:last-of-type {
            left: 250px;
            &:before {
                content: '';
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg%0Axmlns='http://www.w3.org/2000/svg'%0Awidth='75'%0Aheight='75'%0Aversion='1.1'%0A%3E%3Cg%3E%3Cpath%0Astyle='fill:%23ffffff;stroke:none'%0Ad='m 67,34.5 0,2 -67,0 0,2 67,0 0,2 8,-3 -8,-3 z'%0A/%3E%3C/g%3E%3C/svg%3E%0A");
                width: 100px;
                height: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                display: block;
                background-position: 100% 40px;
            }
        }
    }    
}