@import './../mixins/dropShadow';

.topMenuBar {
    @include dropShadow;
    max-width: 1100px;
    height: auto;
    background-color: #fff;
    width: 1100px;
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    ul {
        &:first-of-type {
            &:after {
                content: '';
                width: 100%;
                border-bottom: 2px solid $mainTextColor;
                position: absolute;
                width: calc(100% - 100px);
                bottom: 0;
                opacity: .1;
            }
            display: flex;
            list-style-type: none;
            justify-content: center;
            padding: 0;
            padding-bottom: 20px;
            margin-top: 20px;
            position: relative;
            li {
                color: $mainTextColor;
                padding: 10px 30px;
                position: relative;
                &:hover {                    
                    &:after {
                        cursor: pointer;
                        border-bottom: 2px solid $mainTextColor;
                        transition: all .4s ease;
                        width: 100%;
                        opacity: 1;
                    }
                }
                &:after {
                    content: '';
                    display: block;
                    border-right: 2px solid $mainTextColor;
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 0;                
                    right: 0;
                    opacity: .1;
                }
                a {
                    font-weight: bold;
                    text-decoration: none;
                    color: inherit;
                    text-transform: uppercase;
                    z-index: 99999;
                    position: relative;
                    p {
                        padding: 0;
                        margin: 0;
                        text-transform: none;
                        font-size: 10px;
                        font-weight: normal;
                    }
                }
            }            
        }
        &:last-of-type {
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 10px 10px;
            li {
                color: $mainTextColor;
                &:first-child {
                    text-transform: uppercase;
                    font-size: 12px;
                    margin: 0;
                }
                margin: 0 10px;
            }
        }
    }
}